@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
.App{
  width: 100vw;
  height: 100vs;
  display: flex;
  flex-direction:column;
  align-items:center;
  background-color:blueviolet;
  font-family: "Neucha", cursive;
}

.heading{
  text-transform: uppercase;
  font-size: 30px;
  margin: 40px 0;
  color:white;
  z-index: 1;
  text-align: center;
}

@media(max-width:800px){
  .heading{
    margin: 15px 0;
    font-size: 35px;
  }
}